<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ game.photoUrl }}" alt="{{ game.title }}">
        <div class="card-body">
          <div>
            <strong>Type:</strong>
            <p>{{ game.type }}</p>
          </div>
          <div>
            <strong>Year:</strong>
            <p>{{ game.year }}</p>
          </div>
          <div>
            <strong>Price:</strong>
            <p>€{{ game.price }}</p>
          </div>
          <div>
            <strong>Multiplayer:</strong>
            <p>{{ game.multiplayer | yesNo }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-center">
            <button class="btn btn-primary mr-2">Purchase</button>
            <button class="btn btn-secondary" (click)="toggleAddCommentForm()">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="game-tabset">
          <tab heading="About {{ game.title }}">
            <h4 class="mt-4">Description</h4>
            <p>{{ game.description }}</p>
          </tab>
          <tab heading="Screenshots">
            <h4 class="mt-4">In-Game Captures</h4>
            <ngx-gallery style="display: inline-block; margin-bottom: 20px;" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Comments">
            <h4 class="mt-4">Feedback</h4>
            <p *ngIf="game.userComments.length == 0">This game has not received feedback from users yet.</p>
            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="game.userComments.length > 0">
              <thead>
                <tr>
                  <th style="width: 10%;">Username</th>
                  <th style="width: 40%;">Text</th>
                  <th style="width: 20%;">Added On</th>
                  <th style="width: 30%;">Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comment of game.userComments">
                  <td>{{ comment.username }}</td>
                  <td>{{ comment.commentText }}</td>
                  <td>{{ comment.addedOn | timeago }}</td>
                  <td>
                    <a *ngIf="comment.username === loggedUser" class="btn btn-outline-primary btn-sm mr-3" 
                      (click)="toggleUpdateCommentForm(comment)">Update</a>
                    <a *ngIf="comment.username === loggedUser" class="btn btn-outline-danger btn-sm"
                      (click)="deleteComment(comment.commentId)" (onSubmit)="reloadData()">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="addCommentMode" class="mt-4">
              <app-comment-add [currentGame]="game" (submitComment)="closeAddForm()" (cancelComment)="closeAddForm()"></app-comment-add>
            </div>
            <div *ngIf="updateCommentMode">
              <app-comment-update [currentGame]="game" [comment]="currentComment" 
                (submitComment)="reloadData()" (cancelComment)="closeUpdateForm()">
              </app-comment-update>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
